#listOptions {
  margin-right: 8px;
}

#link-items .item-input-control {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

#link-items .done-link {
  text-decoration: line-through;
}

#link-items .link-item-title {
  padding-top: 8px;
}

#link-items .list-group-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

#link-items .list-group-item .btn-xs {
  padding: 0;
}

#link-items .link-item-checkbox {
  padding-top: 8px;
}

#link-items .link-item-commands {
  padding-top: 4px;
}

.modal-footer {
  display: block;
}
